
.product-overview {
    width: 100%;
    .info-overview {
      display: flex;
    }
  }
  

  .card1 {
    background-color: #df8600;
  }
  .card2 {
    background-color: #c81b1bd2;
  }
  .card3 {
    background-color: #5e8065;
  }
